   #footer {
      background-color: #1e2b38;
      padding: 40px; /* Adjust this value to increase the height */
      text-align: center;
      position: relative;
      width: 100%;
      bottom: 0;
      color: white;
    }   
    body{
        background:url(img4.jpg) no-repeat center;
    }
    #text{
        color: rgb(0, 2, 3);
    }
    #headd{
        background-color: blue;
    }